.full-homepage {
  display: flex;
  flex-direction: column;
}
.HomePage {
  max-width: 100%;
  max-height: 100%;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  padding: 20px;
}

.HomePage h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.HomePage h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.HomePage ul {
  list-style-type: none;
  padding: 0;
}

.HomePage li {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
  margin-bottom: 0.5rem;
}

.HomePage button {
  margin: 1rem;
  padding: 0.5rem 1rem;
  outline: 0;
  appearance: none;
  padding: 0px 12px;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  background-color: rgb(178, 178, 178);
  border: 1px solid rgb(137, 151, 155);
  box-shadow: rgb(6 22 33 / 30%) 0px 1px 2px;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 400;
  height: 36px;
  transition: all 150ms ease-in-out 0s;
  -webkit-box-shadow: 10px 14px 33px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 14px 33px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 14px 33px 1px rgba(0, 0, 0, 0.75);
}

.HomePage button :hover {
  color: rgb(61, 79, 88);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(93, 108, 116);
  box-shadow: rgb(0 0 0 / 30%) 0px 4px 4px, rgb(231 238 236) 0px 0px 0px 3px;
}

.story-generator-container,
.image-generator-container {
  border: 2px solid black;
}

.story-generator-container,
.image-generator-container {
  margin: 3vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.story-generator-container img,
.image-generator-container img {
  margin: 2vh;
  height: 50vh;
  border-radius: 70px;
}
